<div class="page-header">
  <h1>お客様情報編集ページ</h1>
</div>


<%= form_for @user, :url => {:action => 'update'} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
        <h2><%= pluralize(@user.errors.count, "個のエラーがあります") %> 保存に失敗しました</h2>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        <div class="field">
          <%= f.label :名前 %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :ログインID %>
          <%= f.text_field :login_id, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <%= f.password_field :password, soze: 20, maxlength: 15, desabled: true, class: 'form-control' %> <br />
        </div>

        <div class="field">
          <%= f.label :ユーザータイプ %>
          <%= f.label :student %>
          <%= f.hidden_field :user_type, :value => User.user_type.find_value(:student).value %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, size: 25, maxlength: 30, class: 'form-control'  %>
        </div>

        <div class="actions">
          <%= f.submit "上書き", class: "btn btn-primary" %>
        </div>
      </p>
    </div>
  </div>
  <% end %>


<%= link_to '入力をやり直す', "/guest_users/new", class: "btn btn-info" %>
<%= link_to 'トップページへ戻る', top_path, class: "btn btn-success" %>
